.home {
  margin: auto;
  padding: auto;
}

.ant-carousel > div :nth-child(2){
    z-index: 0;
}

.ant-carousel > div :nth-child(2) li button{
    background: #f6ab4a;
    opacity: 0.5;
}

.ant-carousel > div :nth-child(2) li.slick-active button{
    opacity: 1;
    background:  #553234;
}

.ant-carousel .slick-slide h3 {
  color:#553234;

}

.ant-carousel .slick-slide {
  height: 183px;
  line-height: 183px;
  text-align: center;
  background: #F6F6F6;
  overflow: hidden;
}

.dropdown-search {
  margin: auto;
  padding-top: 27px;
  width: 303px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
}

.dropdown-search select {
  margin: auto;
  border-style: none;
  height: 37px;
  width: 140px;
  padding-left: 8px;
  background-color: transparent;
}

.dropdown-search div {
  background-color: #f6ab4a;
  border-style: none;
  border-radius: 10px;
  height: 37px;
  width: 146px;
  /* z-index: -1; */
}

.dropdown-search select:first-child {
  margin-right: 3px;
}

.button-search-home {
  width: 303px;
  margin: 7px auto 27px auto;
}

.button-search-home button {
  margin: auto;
  width: 303px;
  height: 33px;
  border-style: none;
  background-color: #626262;
  color: #fff;
  border-radius: 7px;
  font-size: 18px;
}

.show-review-home{
  font-size: 18px;
  margin: 25px auto 0 auto;
  width: 303px;
}

.show-review-home :first-child{
    text-align: center;
    margin: 25px 0;
}

.show-review-home :last-child{
    margin-bottom: 18px;
}
