.search-show-map {
  width: auto;
  height: 250px;
  background-color: #f6f6f6;
}

.search-results {
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}

.search-center{
    margin: 27px auto;
}

.search-center i {
  font-size: 18px;
  text-align: left;
}

.search-show-result button {
  margin: 15px auto;
  font-size: 18px;
  width: 341px;
  height: 33px;
  border-radius: 7px;
  border-style: none;
  background-color: #626262;
  color: #fff;
}
